#map {
    height: 100vh;
}

#controls {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

#controls button {
    margin: 5px;
}